.app-wrapper {
  max-width: 440px;
  margin: 0 auto;
}

.app-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-chekout {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}
