.flip-container {
  width: 18px;
  height: 30px;
  background-color: #000;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
  position: relative;
  margin: 0 1px;
}

.flip-number {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
}

.flip-number.animate {
  animation: slide-up 0.3s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flip-number-wrapper {
  background-color: black;
  padding: 0 0.9px;
  color: white;
  font-weight: bold;
  width: 24px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.flip-digit {
  width: 50%;
  text-align: center;
}

.flip-digit.animate {
  animation: flipUp 0.3s ease-in-out;
}

@keyframes flipUp {
  0% {
    transform: translateY(100%);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-sale-text {
  animation: flash 1s infinite;
}
